.footer {
  background-color: $primary-color;
  //position: absolute;
  //bottom: 0;
  width: 100%;
  padding: 50px 0;
  border-top: 1px solid $white;

  @media screen and (min-width: $screen-md) {
    padding: 37px 0;
  }

  .copyright,
  .phoneNumber,
  .email,
  .address {
    color: $white;
    font-size: 14px;
  }

  .phoneNumber {
    font-size: 18px;
    margin-bottom: 11px;
  }
}

.footer-mobile {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $screen-md) {
    display: none;
  }

  &__top {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    .phoneNumber {
      margin-bottom: 10px;
    }
  }

  &__right {
    margin-bottom: 50px;
  }

  &__middle {
    display: flex;
    justify-content: center;
    border-top: 1px solid #6694ED;
    border-bottom: 1px solid #6694ED;
    padding: 13px 0;

    span {
      color: $white;
      font-size: 14px;
      margin-right: 56px;
    }

    &__socials {
      a + a {
        margin-left: 7px;
      }
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    padding-top: 50px;

    .logo {
      width: 193px;
      margin-bottom: 24px;
    }
  }
}

.footer-desktop {
  display: none;

  @media screen and (min-width: $screen-md) {
    display: block;
  }

  .footer-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;

    &__left {
      display: flex;
      flex-direction: column;
      margin-right: 20px;

      .logo {
        width: 193px;
        margin-bottom: 39px;
      }
    }

    &__middle {
      display: flex;
      flex-direction: column;
      margin-top: 39px;
      margin-right: 20px;
    }

    &__right {
      margin-top: 39px;
    }
  }

  .footer-bottom {
    display: flex;
    justify-content: center;
    border-top: 1px solid #6694ED;
    border-bottom: 1px solid #6694ED;
    padding: 13px 0;

    span {
      color: $white;
      font-size: 14px;
      margin-right: 56px;
    }

    &__socials {
      a + a {
        margin-left: 7px;
      }
    }
  }
}