/*
    Variables
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap');

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 1024px;

$white: #fff;
$black: #000;
$grey: #f5f5f5;
$primary-text-color: #000;
$secondary-text-color: #a8a8a8;
$primary-color: #306ee7;
$grey-links: #b7b7b7;
$dark-blue: #0F1B2E;
$dark-grey: #D1D1D1;
$grey-text: #7c7c7c;
$hover: #265BC2;
$warning: #FFA1A1;

$font-family: 'Montserrat', sans-serif;

/*
    General Styles
*/

*,
*::after,
*::before {
    box-sizing: border-box;
}

/*
    Prevent ScrollReveal flicker

    @docs https://scrollrevealjs.org/guide/user-experience.html
*/

html {
    height: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body,
html {
    min-height: 100%;
}

body {
    font: 400 16px/1.68 $font-family;
    color: $black;
    background-color: $white;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    //display: inline-block;

    &:hover {
        text-decoration: none;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $primary-text-color;
    font-weight: 700;
    line-height: 1.214;
}

h1 {
    font-size: 28px;

    @media screen and (min-width: $screen-md) {
        font-size: 56px;
    }
}

h2 {
    font-size: 24px;

    @media screen and (min-width: $screen-md) {
        font-size: 32px;
    }
}

h3 {
    font-size: 24px;
    font-weight: 500;
}

h4 {
    font-size: 14px;
    font-weight: 600;
}

h5 {
    font-size: 16px;
}

.menu-toggle {
    display: none;
}

.link-to-archive {
    color: $black;
    padding: 10px 40px;
    border: 1px solid $black;
    transition: 0.4s;
    cursor: pointer;

    &:hover {
        border-color: $primary-color;
        color: $primary-color;
    }

    &--mobile {
        @media screen and (min-width: $screen-md) {
            display: none;
        }
    }

    &--desktop {
        display: none;

        @media screen and (min-width: $screen-md) {
            display: block;
        }
    }
}

.select2-hidden-accessible {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.select2-search__field {
    display: none;
}

.select2-results__option[aria-selected="true"] {
    display: none;
}

.select2-container {
    border: 1px solid $black;
    border-top: none;
    min-width: 350px;
    background-color: $white;
    border-top: 1px solid $black;

    .selection {
        .select2-selection {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 12px 19px;
            cursor: pointer;

            &__rendered {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
            }

            &__arrow {
                width: 10px;
                height: 10px;
                border-bottom: 1px solid $black;
                border-right: 1px solid $black;
                transform-origin: center;
                transform: rotate(45deg);
                transition: 0.3s;
            }
        }
    }

    &--open {
        .selection {
            .select2-selection {
                &__arrow {
                    transform: rotate(225deg);
                }
            }
        }
    }
}

.select2-dropdown {
    .select2-results {
        &__options {
            padding: 11px 0 15px;
        }

        &__option {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            padding: 7px 17px 7px 19px;
            color: $primary-text-color;
            transition: 0.3s;
            cursor: pointer;

            &--highlighted {
                background-color: $primary-color;
                color: $white;
            }
        }
    }
}

.relative {
    position: relative;
}

.flex {
    display: flex;
}

.mobile {
    display: block;

    @media screen and (min-width: $screen-md) {
        display: none;
    }
}

.desktop {
    display: none;

    @media screen and (min-width: $screen-md) {
        display: block;
    }
}

.blocked {
    overflow-y: hidden;
}