.link {
  color: $white;
  transition: 0.4s;

  svg {
    margin-left: 25px;
    transition: 0.4s;
    path {
      opacity: 1;
      transition: 0.4s;
      fill: $white;
    }
  }

  &:hover {
    font-weight: 700;
    color: $primary-color;
    svg {
      margin-left: 45px;
      path {
        fill: $primary-color;
      }
    }
  }

  &.white {
    color: $white;

    svg {
      path {
        fill: $white;
      }
    }

    &:hover {
      color: $dark-blue;
      svg {
        path {
          fill: $dark-blue;
        }
      }
    }
  }

  &.grey {
    color: $grey-links;

    svg {
      path {
        fill: $grey-links;
      }
    }

    &:hover {
      color: $primary-color;
      svg {
        path {
          fill: $primary-color;
        }
      }
    }
  }
}