.breadcrumbs {
  background-color: $grey;
  padding: 6px 0;

  &__container {
    display: flex;
    justify-content: flex-start;
  }

  &__item {
    padding: 5px 16px;
    border-right: 1px solid $dark-grey;
    border-left: 1px solid $dark-grey;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: $primary-text-color;

    svg {
      path {
        transition: 0.3s;
      }
    }

    &:last-child {
      font-weight: 500;

      svg {
        margin-left: 12px;

        path {
          stroke: $black;
        }
      }
    }

    &:first-child {
      padding: 1px 16px;

      &:hover {
        svg {
          path {
            fill: $primary-color;
          }
        }
      }
    }

    &:not(:first-child) {
      margin-left: -1px;

      &:hover {
        color: $primary-text-color;
      }
    }
  }
}