.partners-list {
  padding: 71px 0 150px;

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 22px;

    @media screen and (min-width: $screen-sm) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: $screen-lg) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__name {
    margin-top: 35px;
    color: $primary-text-color;
    transition: 0.3s;
    font-weight: 700;
    font-size: 11px;
    line-height: 17px;

    @media screen and (min-width: $screen-md) {
      font-size: 16px;
      line-height: 26px;
      margin-top: 40px;
    }

    @media screen and (min-width: 1180px) {
      font-size: 22px;
      line-height: 30px;
      margin-top: 61px;
    }
  }

  &__logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;

    @media screen and (min-width: $screen-sm) {
      height: 146px;
    }
  }

  &__logo {
    max-width: 100%;
  }

  &__description {
    font-weight: 400;
    margin-top: 12px;
    color: $primary-text-color;
    transition: 0.3s;
    font-size: 9px;
    line-height: 15px;

    @media screen and (min-width: $screen-md) {
      font-size: 12px;
      line-height: 20px;
      margin-top: 16px;
    }

    @media screen and (min-width: 1180px) {
      margin-top: 25px;
      font-size: 16px;
      line-height: 25px;
    }
  }

  &__link {
    display: flex;
    align-items: flex-end;
    height: 1px;
    overflow: hidden;
    transition: 0.3s;
    opacity: 0;

    .link {
      font-weight: 400;
      font-size: 9px;
      line-height: 136.41%;

      @media screen and (min-width: $screen-md) {
        font-weight: 400;
        font-size: 11px;
      }

      @media screen and (min-width: 1180px) {
        font-weight: 400;
        font-size: 14px;
      }

      svg {
        margin-left: 15px;
      }

      &:hover {
        svg {
          margin-left: 25px;
        }
      }
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid $secondary-text-color;
    padding: 33px 15px 21px;
    transition: 0.3s;
    cursor: pointer;

    @media screen and (min-width: $screen-md) {
      //padding: 58px 25px 31px;
    }

    @media screen and (min-width: 1180px) {
      padding: 58px 25px 31px;
    }

    &:hover {
      background-color: $primary-color;

      .partners-list__name {
        margin-top: 0;
        color: $white;

        @media screen and (min-width: $screen-md) {
          margin-top: 5px;
        }

        @media screen and (min-width: 1180px) {
          margin-top: 61px;
        }
      }

      .partners-list__description {
        color: $white;
      }

      .partners-list__link {
        height: 35px;
        opacity: 1;
      }
    }
  }
}